header {
  width: 100%;
  background-color: #945121
}

.NavBar {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
}

.LogoDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Logo {
  font-size: 1vw;
  color: antiquewhite;
}

.Buttons {
  display: flex;
  flex-direction: row;
  width: 40%;
  justify-content: space-around;
}

.Workouts {
  font-size: 1vw;
  margin-left: 40px;
  border-radius: 7.5%;
  background-color: #128994;
  padding: 0.2vw;
}

.StartRegimen {
  font-size: 1vw;
  border-radius: 7.5%;
  background-color: #128994;
  padding: 0.2vw;
}

.Workouts:hover {
  background-color: #48D3E0;
  cursor: default;
}

.StartRegimen:hover {
  background-color: #48D3E0;
  cursor: default;
}

@media screen and (max-width: 800px) {
  .Logo {
    font-size: 15px;
    
  }

  .Workouts {
    font-size: 13px;
    padding: 3px;
    align-self: center;
  }

  .StartRegimen {
    font-size: 13px;
    white-space: nowrap;
    padding: 3px;
    align-self: center;
  }
  
  
}

