header {
  width: 100%;
  background: rgb(2,0,36);
  background: linear-gradient(163deg, rgba(2,0,36,1) 0%, rgba(30,30,75,1) 100%, rgba(0,212,255,1) 100%);
  border-bottom: 3px solid white;
}

.NavBar {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px 0px;
}

.LogoDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Logo {
  font-size: 1vw;
  color: antiquewhite;
}

.Buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.User {
  margin: auto 0;
  font-size: 1.5rem;
  color: white;
}

.Workouts {
  font-size: 1vw;
  margin-left: 40px;
  border-radius: 7.5%;
  background: rgb(2,0,36);
  background: linear-gradient(163deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 0%, rgba(141,213,235,1) 100%); 
  padding: 0.2vw;
  color: white;
  width: 5rem;
  text-align: center;
}

.StartRegimen {
  font-size: 1vw;
  border-radius: 7.5%;
  background: rgb(2,0,36);
  background: linear-gradient(163deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 0%, rgba(141,213,235,1) 100%); 
  padding: 0.2vw;
  color: white;
  width: 5rem;
  text-align: center;
}

.Workouts:hover {
  background-color: #48D3E0;
  cursor: default;
}

.StartRegimen:hover {
  background-color: #48D3E0;
  cursor: default;
}

@media screen and (max-width: 800px) {
  .Logo {
    font-size: 15px;
    
  }

  .Workouts {
    font-size: 13px;
    padding: 3px;
    align-self: center;
  }

  .StartRegimen {
    font-size: 13px;
    white-space: nowrap;
    padding: 3px;
    align-self: center;
  }

  .User {
    display: none;
  }

  .Logo {
    font-size: 0.6rem;
  }
  
}

