*  {
    margin: 0px;
    padding: 0px;
}

.Div {
    width: 100%;
    background-color: #E08848
}

.Container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.RegimenCard {
    display: flex;
    flex-direction: row;
    height: 80%;
}

.Left {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFA96B
    
}

.LeftContainer {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
}

.LeftH3 {
    font-size: 3vw;
    width: 100%;
    text-align: center;
    position: relative;
    bottom: 3px;
}

.LeftP {
    width: 100%;
    font-size: 1vw;
    margin: 0 auto;
    line-height: 30px;
    position: relative;
    bottom: 35px;
    padding: 5px;
}

.Right {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #945121
}

.RightContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 70%;
}

.RightH3 {
    font-size: 3vw;
    width: 100%;
    text-align: center;
    color: whitesmoke;
}

.RightInputWithError {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ErrorMessage{
    color: red;
    font-size: 1vw;
    margin: 0 auto;
}

.RightInput {
    width: 15vw;
    padding: 5px;
    margin: 0 auto;
    font-size: 1.5rem;
    text-align: center;
}

.RightButton {
    width: 8vw;
    margin: 0 auto;
    padding: 10px;
    background-color: #128994;
    border-radius: 7.5%;
    border: none;
    font-size: 1.1rem;
}

.RightButton:hover {
    background-color: #48D3E0;
}

@media screen and (max-width: 1330px) {

    .LeftContainer {
        height: 60%;
    }

    .RightContainer {
        height: 60%;
    }
}

@media screen and (max-width: 906px) {
    .RightButton {
        font-size: 1vw;
    }

    .RightInput {
        font-size: 1vw;
    }
}

@media screen and (max-width: 800px) {
    .RegimenCard {
        flex-direction: column;
        height: 90%;
    }

    .LeftContainer {
        height: 80%;
    }

    .RightContainer {
        height: 80%;
    }
    
}