* {
    margin: 0px;
    padding: 0px;
}

.Table {
    display: flex;
    flex-direction: column;
}

.Div {
    width: 100%;
}

.Container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.TableRow {
    background-color: green;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid black;
}


.TableHead {
    padding: 10px;
    font-size: 2.1rem;
    color: white;
}

.TableBottomRow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid black;
}

.TableData {
    flex: 1;
    text-align: center;
    margin-left: 70px;
    font-size: 2.1rem;
    padding: 20px;
}