* {
    margin: 0px;
    padding: 0px;
}

.Table {
    display: flex;
    flex-direction: column;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.Div {
    width: 100%;
    background: rgb(2,0,36);
    background: linear-gradient(163deg, rgba(2,0,36,1) 0%, rgba(84,84,208,1) 100%, rgba(0,212,255,1) 100%);
    min-height: 100vh;
}

.Container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.TableRow {
    background: rgb(2,0,36);
    background: linear-gradient(163deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 0%, rgba(141,213,235,1) 100%);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    width: 100%;
}

.TableHead {
    font-size: 1vw;
    width: 100%;
    padding: 1vw;
    color: white;
}

.TableBottomRow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    width: 100%;
    background-color: whitesmoke;
}

.TableData {
    flex: 1;
    text-align: center;
    font-size: 1vw;
    width: 100%;
    padding: 1vw;
}

Button {
    margin: 0 auto;
    margin-top: 10px;
    padding: 0.8vw;
    background: rgb(2,0,36);
    background: linear-gradient(163deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 0%, rgba(141,213,235,1) 100%);
    border-radius: 7.5%;
    border: none;
    font-size: 1vw;
    display: block;
    color: white;
}

Button:hover {
    background-color: #48D3E0;
    cursor: default;
  }

