* {
    margin: 0px;
    padding: 0px;
}

.Div {
    height: 100vh;
    width: 100%;
}

.Container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

.Img {
    width: 100%;
    height: 200px;
    border-bottom: 1px solid black;
}

.WorkoutCard {
    border: 1px solid black;
    width: 30%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0px;
    margin: 10px;
}

.MidCard {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
}

.Link {
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 10px;
    color: black;
    text-decoration: none;
    border: 1px solid black;
}

.Link:hover {
    background-color: rgb(133, 133, 133);
}
