* {
    margin: 0px;
    padding: 0px;
}

.Table {
    display: flex;
    flex-direction: column;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.Div {
    width: 100%;
    background-color: #E08848;
    min-height: 100vh;
}

.Container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.TableRow {
    background-color: #945121;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    width: 100%;
}


.TableHead {
    font-size: 1vw;
    width: 100%;
    padding: 1vw;
    color: white;
}

.TableBottomRow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    width: 100%;
    background-color: whitesmoke;
}

.TableData {
    flex: 1;
    text-align: center;
    font-size: 1vw;
    width: 100%;
    padding: 1vw;
}


.Link {
    font-size: 1vw;
    width: 100%;
    padding: 3%;
    margin: 0 auto;
    margin-bottom: 10px;
    color: black;
    text-decoration: none;
    border: 1px solid black;
    
}

.Link:hover {
    background-color: rgb(133, 133, 133);
}
