* {
    margin: 0px;
    padding: 0px;
}

.Div {
    width: 100%;
    height: 100vh;
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
}

.Container{
    width: 100%;
    height: 100vh;
}

.Top {
    height: 50%;
}

.TopContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.Left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: rgb(2,0,36);
    background: linear-gradient(163deg, rgba(2,0,36,1) 0%, rgba(84,84,208,1) 100%, rgba(0,212,255,1) 100%);
}

.LeftH1 {
    font-size: 2.5rem;
    color: white;
}

.LeftP {
    font-size: 1rem;
    line-height: 30px;
    color: white;
    padding: 5px;
}

.RightPic {
    height: 100%;
    width: 100%;
}

.Right {
    flex: 1;
}

.LButton {
    color: white;
    padding: 10px;
    background: rgb(2,0,36);
    background: linear-gradient(163deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 0%, rgba(141,213,235,1) 100%); 
    width: 5rem;
    font-size: 1rem;
}

.Bottom{
    height: 70%;
    background: rgb(2,0,36);
    background: linear-gradient(163deg, rgba(2,0,36,1) 0%, rgba(30,30,75,1) 100%, rgba(0,212,255,1) 100%);
}

.BottomContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    
}

.BottomContainerTop {
    border-bottom: 1.5px solid grey;
    width: 90%;
    margin: 0 auto;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.BCTH1 {
    color: white;
}

.BottomContainerButton {
    margin: 0;
    background: rgb(2,0,36);
    background: linear-gradient(163deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 0%, rgba(141,213,235,1) 100%); 
    color: white;
    width: 5rem;
    font-size: 1rem;
    padding: 10px;
}

.BottomContainerBottom {
    width: 90%;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.SocialMediaContainer {
    height: 17rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    
}

.SocialMediaIcons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 200px;
}

.FounderBox {
    height: 13rem;
}

.PictureFrame {
    height: 100%;
}

.FImg {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    
}

.FounderInfo {
    text-align: center;
    color: white;
}

.SCSH1{
    color: white;
    font-size: 2rem;
}

.SCSP{
    width: 20em;
    font-size: 1.1rem;
    color: white;
}

.Icon {
    width: 40px;
    height: 40px;
}


@media screen and (max-width: 675px) {

    .Bottom{
        height: fit-content;
    }

    .BottomContainer{
        height: fit-content;
    }

    .Right {
        display: none;
    }

    .Left {
        text-align: center;
    }
}

@media screen and (max-width: 675px) {
    .BottomContainerTop {
        flex-direction: column;
        justify-content: space-around;
        height: 15vh;
    }
    .BottomContainerBottom {
        flex-direction: column;
        margin-top: 10px;
        
    }

    .SCSP{
        text-align: center;
    }
    
    .SocialMediaContainer {
        align-items: center;
    }

    .Top {
        height: 40vh;
    }
    
    .BCTH1{
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 486px) {
    .Left{
        height: 40vh;
    }

    .LeftH1{
        font-size: 1.5rem;
    }

    .LeftP {
        font-size: 0.7rem;
    }

    .LButton {
        margin-bottom: 10px;
    }

    .BottomContainerTop {
        height: 15vh;
        
    }

    .BCTH1 {
        font-size: 1.3rem;
    }

    .SCSP{
        font-size: 0.9rem;
        line-height: 30px;
    }

    .SCSH1 {
        font-size: 1.3rem;
    }

    .PictureFrame{
        height: 70%;
        overflow: hidden;
    }
}

@media (orientation: landscape) {
    .Top {
        height: 70%;
    }

    .SocialMediaContainer {
        margin-bottom: 20px;
    }
    
    .Bottom {
        height: 105vh;
    }

    .BottomContainerBottom{
        height: 100%;
    }
}



