* {
    margin: 0px;
    padding: 0px;
}

.Div {
    width: 100%;
    background: rgb(2,0,36);
    background: linear-gradient(163deg, rgba(2,0,36,1) 0%, rgba(30,30,75,1) 100%, rgba(0,212,255,1) 100%);
}

.Container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.RecordWorkoutCard {
    display: flex;
    flex-direction: row;
    height: 80%;
}

.Left {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgb(2,0,36);
    background: linear-gradient(163deg, rgba(2,0,36,1) 0%, rgba(84,84,208,1) 100%, rgba(0,212,255,1) 100%);
    
}

.LeftContainer {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
}

.LeftH3 {
    font-size: 3vw;
    width: 100%;
    text-align: center;
    position: relative;
    bottom: 3px;
}

.LeftP {
    width: 100%;
    font-size: 1vw;
    margin: 0 auto;
    line-height: 30px;
    position: relative;
    bottom: 35px;
    padding: 5px;
}

.Right {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgb(2,0,36);
    background: linear-gradient(163deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 0%, rgba(141,213,235,1) 100%);
}

.RightContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 70%;
}

.RightTop {
    display: flex;
    flex-direction: column;
    height: 40%;
    padding: 20px;
    width: 70%;
    align-content: center;
    margin: 0 auto;
}

.RightTopInputs {
    display: flex;
    flex-direction: row;
}

.RightTopButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto 0;
    
}


.RightInput {
    width: 100%;
    padding: 5px;
    font-size: 1.5vw;
    margin-right: 5px;
}

.RightInput2 {
    width: 5vw;
    padding: 5px;
    margin: 0 auto;
    font-size: 1.5vw;
}

.RightButton {
    width: 8vw;
    margin: 0 auto;
    padding: 10px;
    border-radius: 7.5%;
    border: none;
    font-size: 1.1vw;
    background: rgb(2,0,36);
    background: linear-gradient(163deg, rgba(2,0,36,1) 0%, rgba(84,84,208,1) 100%, rgba(0,212,255,1) 100%);
    color: white;
}

.RightButton2 {
    width: 8vw;
    margin: 0 auto;
    padding: 10px;
    background: rgb(2,0,36);
    background: linear-gradient(163deg, rgba(2,0,36,1) 0%, rgba(84,84,208,1) 100%, rgba(0,212,255,1) 100%);
    border-radius: 7.5%;
    border: 1px solid whitesmoke;
    font-size: 1.1vw;
    color: white;
}

.RightButton:hover {
    background-color: #48D3E0;
}

.RightButton2:hover {
    background-color: #318e17;
}


@media screen and (max-width: 1330px) {

    .LeftContainer {
        height: 60%;
    }

    .RightContainer {
        height: 60%;
    }
}

@media screen and (max-width: 906px) {
    .RightButton {
        font-size: 1vw;
    }

    .RightInput {
        font-size: 1vw;
    }

    .RightContainer {
        height: 50%;
    }
}

@media screen and (max-width: 800px) {
    .RecordWorkoutCard {
        flex-direction: column;
        height: 90%;
    }

    .LeftContainer {
        height: 80%;
    }

    .RightContainer {
        height: 60%;
    }

}


@media screen and (max-width: 1330px) {

    .LeftContainer {
        height: 60%;
    }

    .RightContainer {
        height: 60%;
    }
}

@media screen and (max-width: 906px) {
    .RightButton {
        font-size: 1vw;
    }

    .RightInput {
        font-size: 1vw;
    }
}

@media screen and (max-width: 800px) {
    .RegimenCard {
        flex-direction: column;
        height: 90%;
    }
    
    .Left{
        display: none;
    }
    
    .Right{
        height: 90%;
        flex: none;
        margin: auto 0;
    }
    
    .RightInput{
        width: 30vw;
        height: 2vh;
        font-size: 4vw;
    }
    
    .RightInput2 {
        width: 10vw;
        height: 2vh;
        font-size: 4vw;
    }
    
    .RightH3{
        font-size: 30px;
    }
    
    .RightButton {
        white-space: nowrap;
        padding: 3px;
        width: 100px;
        font-size: 1rem;
        
    }

    .RightButton2 {
        padding: 3px;
        width: 100px;
        font-size: 1rem;
    }

    
}